@using QuranEducation.Models
@using QuranEducation.Helpers
@using QuranEducation.Models.VM
@model AssigmentVM
@{
    ViewBag.Title = ViewBag.tutTitle;
}

<!-- BEGIN PAGE CONTENT-->
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-title">
                <h4><i class="icon-book"></i>@Model.Tutorial.Title</h4>
                <span class="tools">
                    <a href="javascript:;" class="icon-chevron-down"></a>
                    <a href="javascript:;" class="icon-remove"></a>
                </span>
            </div>
            @if (Model != null)
            {
                <div class="widget-body">
                    <div class="span3">
                        <div class="text-center profile-pic">
                            <img src="~/img/examIcon.png" alt="">
                        </div>

                    </div>
                    <div class="span8">
                        <h4>@Model.Tutorial.Title <br /><small>@Model.Title</small></h4>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td class="span2">@QuranRes.AssType</td>
                                    <td>
                                        @{
                                            var type = Model.AssType == AssType.Assigment ? QuranRes.AsstypeTitle : QuranRes.HMtypeTitle;
                                        }
                                        @type
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span2">@QuranRes.AssDegree</td>
                                    <td>
                                        @Model.Degree
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span2">@QuranRes.AssStTime</td>
                                    <td>
                                        @Model.StartTime
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span2">@QuranRes.AssEndTime</td>
                                    <td>
                                        @Model.EndTime
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span2">@QuranRes.Lang</td>
                                    <td>
                                        @LanguageMang.AvailableLanguages.FirstOrDefault(m => m.Code.ToLower() == Model.Tutorial.LangCode.ToLower()).Name
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <h4>@QuranRes.AssDesc</h4>
                        <div class="well" style="overflow:auto;width:100% !important">

                            @Html.Raw(Model.Descr)

                        </div>
                        <h4>@QuranRes.AssAttach</h4>
                        <div class="">
                            <address>

                                @if (Model.AssigmentAttachments != null)
                                {
                                    foreach (var att in Model.AssigmentAttachments)
                                    {
                                        var counter = 1;
                                        <a class="btn btn-primary" href="~/Attachments/Assigments/@att.FileUrl" target="_blank">@QuranRes.FileTitle @counter</a>
                                        counter++;
                                    }
                                }
                            </address>
                        </div>
                        @if (User.IsInRole(RoleNames.StudentLevel))
                        {
                            <a class="btn btn-primary" href="~/Assigment/Solution/@Model.Id" target="_blank">@QuranRes.AssSolution</a>
                        }
                    </div>
                    <div class="space5"></div>
                </div>
            }
        </div>
    </div>
</div>


