@using QuranEducation.Models
@using QuranEducation.Helpers
@model StudentProfile
@{
    ViewBag.Title = @QuranRes.ProfileTitle;
}

<!-- BEGIN PAGE CONTENT-->
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-title">
                <h4><i class="icon-user"></i>@ViewBag.Title</h4>
                <span class="tools">
                    <a href="javascript:;" class="icon-chevron-down"></a>
                    <a href="javascript:;" class="icon-remove"></a>
                </span>
            </div>
            @if (Model != null)
            {
                <div class="widget-body">
                    <div class="span3">
                        <div class="text-center profile-pic">
                            <img src="~/images/StudentsProfiles/@Model.ImgUrl" alt="">
                        </div>

                    </div>
                    <div class="span6">
                        <h4>@Model.AppUser.FullName</h4>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td class="span2">@QuranRes.Email :</td>
                                    <td>
                                        @Model.AppUser.Email
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span2">@QuranRes.PhoneNumber</td>
                                    <td>
                                        @Model.AppUser.PhoneNumber
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span2">@QuranRes.NameInNational :</td>
                                    <td>
                                        @Model.AppUser.FullName
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span2">@QuranRes.EnName :</td>
                                    <td>
                                        @Model.EnName
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span2">@QuranRes.BOD :</td>
                                    <td>
                                        @Model.BOD
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span2">@QuranRes.Nationality :</td>
                                    <td>
                                        @Model.Nationality
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span2">@QuranRes.ResidentCountry :</td>
                                    <td>
                                        @GeneralHelper.GetCountryById(Model.ResidentCountryCode)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span2">@QuranRes.HomePhone :</td>
                                    <td>
                                        @Model.HomePhoneNumber
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span2">@QuranRes.Lang :</td>
                                    <td>
                                        @LanguageMang.AvailableLanguages.FirstOrDefault(m => m.Code == Model.AppUser.LangCode).Name
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span2">@QuranRes.EduYear :</td>
                                    <td>
                                        @Model.EduYear
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span2">@QuranRes.StScore :</td>
                                    <td>
                                        @GeneralHelper.GetScoreById(Convert.ToInt32(Model.StScore))
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span2">@QuranRes.StudentCert :</td>
                                    <td class="span2"><a href="~/images/StudentCerts/@Model.CertUrl" target="_blank">@QuranRes.StudentCert</a></td>

                                </tr>
                            </tbody>
                        </table>

                        <a class="btn btn-primary" href="~/Student/HandleAccount">@QuranRes.EditProfileBtn </a>
                    </div>

                    <div class="space5"></div>
                </div>
            }
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
